numpy==1.23.5
pandas==1.3.4
scikit-learn==1.0.2
scipy==1.13.1
seaborn==0.13.2
matplotlib==3.9.4
xgboost==1.6.2
imbalanced-learn==0.8.1
sentence-transformers==4.1.0
joblib==1.5.1
tqdm==4.67.1
umap-learn==0.5.7
wordcloud==1.9.3
tokenizers==0.15.1
transformers==4.40.1
